@import "../../../styles/vendor/mixins";
@import "../../../styles/vendor/extends";

.tabs {
    &__list {
        @extend %reset-list;
        display: flex;
        gap: var(--indent-3);
        overflow-x: auto;

        @include media(sm) {
            justify-content: center;
        }
    }

    &__item {
        text-align: center;

        font-size: clamp(1em, 2vw, 1.25em);
        font-weight: 600;
        padding: 0.625rem 1rem;
        inline-size: min(60vw, 30.75rem);
        border-radius: 22px;
        background-color: var(--grey-100-color);
        opacity: 0.54;
        transition:
            background-color 0.25s ease-in,
            color 0.25s ease-in;
        cursor: pointer;

        flex: none;

        &:hover {
            opacity: 1;
        }

        &_active {
            pointer-events: none;
            opacity: 1;
            color: #fff;
            background: var(--accent-color) linear-gradient(0deg, var(--accent-gradient-color));
        }
    }

    &__section {
        padding-block: var(--indent-4);
    }
}
