@import "./vendor/mixins";
@import "./vendor/extends";

@import "../../node_modules/@splidejs/splide/dist/css/splide.min.css";
@import "react-loading-skeleton/dist/skeleton.css";

:root {
    --main-color: #4776e6;
    --main-light-color: #e4ecff;
    --main-alt-color: #8e54e9;
    --main-gradient-color: var(--main-color) 0%, var(--main-alt-color) 100%;

    --secondary-color: #c84e89;
    --secondary-alt-color: #f15f79;
    --secondary-gradient-color: var(--secondary-color) 0%, var(--secondary-alt-color) 100%;

    --accent-color: #e65c00;
    --accent-alt-color: #f9d423;
    --accent-gradient-color: var(--accent-color) 0%, var(--accent-alt-color) 100%;

    --grey-100-color: #e1e7ec;
    --grey-200-color: #bec9d3;
    --grey-300-color: #818f9d;

    --main-text-color: #2a2d34;
    --main-text-low-color: var(--grey-300-color);

    --main-font-family: "Montserrat Alternates", sans-serif;
    --heading-font-family: "RF Krabuler", sans-serif;
    --main-font-weight: 500;

    --box-shadow-small: 0 0 4px rgba(0, 0, 0, 0.15);
    --box-shadow-medium: 0 0 8px rgba(0, 0, 0, 0.15);

    --inline-size-large: min(120rem, 100%); // 1920
    --inline-size-medium: min(107.5rem, 100%); // 1720
    --inline-indent-large: 1.5em;
    --inline-indent-medium: 1.5em;
    --inline-indent-small: 1.5em;
    --indent-block-section: 1.875em;
    --indent-wave-decor: var(--indent-4);

    --indent-1: clamp(0.25rem, 1vw, 0.625rem); // 4 - 10
    --indent-2: clamp(0.625rem, 2vw, 1.25rem); // 10 - 20
    --indent-3: clamp(1rem, 3vw, 1.875rem); // 16 - 30
    --indent-4: clamp(1.25rem, 4vw, 2.5rem); // 20 - 40

    @include media(lg) {
        --inline-indent-small: clamp(1.25rem, -4.1848rem + 8.6957vw, 6.25rem); // 10 - 100
        --inline-indent-medium: clamp(1.25rem, -7.5815rem + 14.1304vw, 9.375rem); // 10 - 150
        --inline-indent-large: clamp(1.25rem, -14.375rem + 25vw, 15.625rem); // 10 - 250

        --indent-block-section: clamp(1.875rem, -1.5217rem + 5.4348vw, 5rem); // 30 - 80
        --indent-wave-decor: clamp(2.5rem, 1.6728rem + 3.6765vw, 5.625rem); // 40 - 90
        --indent-clouds-decor: clamp(3.125rem, 2.2151rem + 4.0441vw, 6.5625rem); // 50 - 105
    }
}

// layout
@import "./public.blocks/page";
@import "./public.blocks/section";

// animations
@import "./public.blocks/animations";

// ui
@import "./public.blocks/card-link";
@import "./public.blocks/logo-link";
@import "./public.blocks/button";
@import "./public.blocks/icon-button";
@import "./public.blocks/social-group";
@import "./public.blocks/text-item";
@import "./public.blocks/splide";
@import "./public.blocks/tabs";
@import "./public.blocks/card";

// blocks
@import "./public.blocks/header";
@import "./public.blocks/menu";
@import "./public.blocks/submenu";
@import "./public.blocks/footer";

// sections
@import "./public.blocks/lead";
@import "./public.blocks/advantages";
@import "./public.blocks/about";
@import "./public.blocks/services";
@import "./public.blocks/news";
@import "./public.blocks/why";
@import "./public.blocks/gallery";

// decor
@import "./public.blocks/bg-color";
@import "./public.blocks/wave-decor";
@import "./public.blocks/clouds-decor";
@import "./public.blocks/blobs";
@import "./public.blocks/corner-rounded";
