@import "./vendor/mixins";
@import "./vendor/extends";

@import "../../node_modules/@splidejs/splide/dist/css/splide.min.css";
@import "react-loading-skeleton/dist/skeleton.css";

:root {
    --main-color: #4776e6;
    --main-light-color: #e4ecff;
    --main-alt-color: #8e54e9;
    --main-gradient-color: var(--main-color) 0%, var(--main-alt-color) 100%;

    --secondary-color: #c84e89;
    --secondary-alt-color: #f15f79;
    --secondary-gradient-color: var(--secondary-color) 0%, var(--secondary-alt-color) 100%;

    --accent-color: #e65c00;
    --accent-alt-color: #f9d423;
    --accent-gradient-color: var(--accent-color) 0%, var(--accent-alt-color) 100%;

    --grey-100-color: #e1e7ec;
    --grey-200-color: #bec9d3;
    --grey-300-color: #818f9d;

    --main-text-color: #2a2d34;
    --main-text-low-color: var(--grey-300-color);

    --main-font-family: "Montserrat Alternates", sans-serif;
    --heading-font-family: "RF Krabuler", sans-serif;
    --main-font-weight: 500;

    --box-shadow-small: 0 0 4px rgba(0, 0, 0, 0.15);
    --box-shadow-medium: 0 0 8px rgba(0, 0, 0, 0.15);

    --main-inline-size: min(91.25rem, 100%); // 1460
    --wide-inline-size: min(110rem, 100%); // 1760
    --indent-block-section: clamp(1.875rem, 8vw, 5rem); // 30 - 80
    --indent-small: clamp(0.625rem, 2vw, 1.25rem); // 10 - 20
    --indent-medium: clamp(1rem, 2.4vw, 1.5rem); // 16 - 24
}

// layout
@import "./public.blocks/page";

// ui
@import "./public.blocks/logo-link";
@import "./public.blocks/button";
@import "./public.blocks/icon-button";
@import "./public.blocks/social-group";

// blocks
@import "./public.blocks/header";
@import "./public.blocks/menu";
@import "./public.blocks/submenu";
@import "./public.blocks/footer";
