@import "./vendor/mixins";
@import "./vendor/extends";

@import "../../node_modules/@splidejs/splide/dist/css/splide.min.css";
@import "react-loading-skeleton/dist/skeleton.css";

:root {
    --main-color: #4776e6;
    --main-light-color: #e4ecff;
    --main-alt-color: #8e54e9;
    --main-gradient-color: var(--main-color) 0%, var(--main-alt-color) 100%;

    --secondary-color: #c84e89;
    --secondary-alt-color: #f15f79;
    --secondary-gradient-color: var(--secondary-color) 0%, var(--secondary-alt-color) 100%;

    --accent-color: #e65c00;
    --accent-alt-color: #f9d423;
    --accent-gradient-color: var(--accent-color) 0%, var(--accent-alt-color) 100%;

    --grey-100-color: #e1e7ec;
    --grey-200-color: #bec9d3;
    --grey-300-color: #818f9d;

    --main-text-color: #2a2d34;
    --main-text-low-color: var(--grey-300-color);

    --main-font-family: "Montserrat Alternates", sans-serif;
    --heading-font-family: "RF Krabuler", sans-serif;
    --main-font-weight: 500;

    --box-shadow-small: 0 0 4px rgba(0, 0, 0, 0.15);
    --box-shadow-medium: 0 0 8px rgba(0, 0, 0, 0.15);

    --large-inline-size: min(120rem, 100%); // 1920
    --medium-inline-size: min(107.5rem, 100%); // 1720
    --large-inline-section-indent: clamp(0.625rem, -2.8365rem + 15.3846vw, 15.625rem); // 10 - 250
    --medium-inline-section-indent: clamp(0.625rem, -1.3942rem + 8.9744vw, 9.375rem); // 10 - 150
    --small-inline-section-indent: clamp(0.625rem, -0.6731rem + 5.7692vw, 6.25rem); // 10 - 100

    --indent-block-section: clamp(1.875rem, 8vw, 5rem); // 30 - 80
    --indent-wave-decor: clamp(1.25rem, 0.9615rem + 1.2821vw, 2.5rem); // 20 - 40
    --indent-small: clamp(0.625rem, 2vw, 1.25rem); // 10 - 20
    --indent-medium: clamp(1rem, 2.4vw, 1.5rem); // 16 - 24
    --indent-large: clamp(1.5rem, 4.8vw, 3rem); // 24 - 48
}

// layout
@import "./public.blocks/page";
@import "./public.blocks/section";

// animations
@import "./public.blocks/animations";

// ui
@import "./public.blocks/logo-link";
@import "./public.blocks/button";
@import "./public.blocks/icon-button";
@import "./public.blocks/social-group";
@import "./public.blocks/text-item";

// blocks
@import "./public.blocks/header";
@import "./public.blocks/menu";
@import "./public.blocks/submenu";
@import "./public.blocks/footer";

// sections
@import "./public.blocks/lead";
@import "./public.blocks/advantages";
@import "./public.blocks/about";

// decor
@import "./public.blocks/wave-decor";
@import "./public.blocks/blobs";
@import "./public.blocks/corner-rounded";
