.admin-file-block {
  padding: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  @include box(100%);

  svg {
      flex: none;
      width: min(25%, 4.5em);
  }

  &__title {
      margin: 0;
      word-break: break-word;
      @include clamp(3);
      min-height: 4.5em;
  }

  &__field {
      width: 100%;
  }
}