.about {
    &__two-columns {
        display: grid;
        gap: clamp(1.5rem, 0.413rem + 1.7391vw, 2.5rem);
        grid-template-columns: 0.3fr 0.58fr;

        @include media(lg) {
            grid-template-columns: 0.4fr 0.972fr;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }

    &__image {
        @extend .corner-rounded;
        inline-size: min(25em, 100%);
        aspect-ratio: 4/5.32;
        object-fit: cover;
        object-position: center;
    }

    &__main-info {
        font-size: 1em;

        p {
            margin-block: 0.5em;
        }

        @include media(lg) {
            font-size: 1.25em;
        }
    }

    &__title {
        margin-block: 0 1.5rem;
        font-size: clamp(1.25rem, 0.5707rem + 1.087vw, 1.875rem);
    }

    &__title-accent {
        display: block;
        margin-block-end: 0.75rem;
        font-size: clamp(1.875rem, 1.1957rem + 1.087vw, 2.5rem);
    }

    &__main-text {
        font-size: 1em;
        line-height: 1.4;

        p {
            margin-block: 1em;
        }

        @include media(lg) {
            font-size: 1.25em;
        }
    }
}
