// перенести
.article {
    &__two-columns {
        display: grid;
        gap: var(--indent-block-large);
        grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
    }

    // &__column {}

    &__image {
        max-width: min(50em, 100%);
    }

    &__title {
        @extend .section__title;
    }

    &__subtitle {
        @extend .section__subtitle;
    }

    &__caption {
        margin: 0.75em 0;
        font-size: var(--title-card-font-size);
        font-weight: 600;
    }

    &__main-content {
        line-height: 1.5;
    }

    &__gap {
        margin-block: var(--indent-block-large);
    }
}
