.card {
    height: 100%;

    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: var(--box-shadow-medium);
    @extend .corner-rounded;

    &__image {
        @extend %alt-text-on-after;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        border-radius: inherit;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--indent-block-medium);
        padding: var(--indent-block-medium);
    }

    &__title-block {
        display: flex;
        align-items: flex-start;
        gap: var(--indent-block-small);
    }

    &__date {
        font-size: var(--text-small-font-size);
    }

    &__title {
        margin-block: 0;
        font-weight: 600;
        font-size: var(--text-xlarge-font-size);
    }

    &__title-accent {
        display: block;
        font-weight: 600;
        text-transform: uppercase;
    }

    &__main-text {
        display: grid;
        gap: var(--indent-block-small);
    }

    &__text {
        margin-block: 0;
        font-size: var(--text-medium-font-size);
    }

    &_type_article {
        .card__title-block {
            flex-direction: column;
        }

        // .card__image {
        //     aspect-ratio: 16/10;
        // }

        .card__title {
            order: -1;
            flex: auto;
            @include clamp(2, 1.2);

            @include media(sm, max) {
                max-height: unset;
                line-height: unset;
                display: unset;
                -webkit-line-clamp: unset;
                -webkit-box-orient: unset;
                overflow: unset;
            }
        }

        .card__content {
            flex: auto;
        }

        .card__main-content {
            margin-block-start: auto;
        }

        .card__text {
            @include clamp(2, 1.2);

            @include media(sm, max) {
                max-height: unset;
                line-height: unset;
                display: unset;
                -webkit-line-clamp: unset;
                -webkit-box-orient: unset;
                overflow: unset;
            }
        }
    }

    &_type_review {
        @extend .bg-color;

        .card__content {
            flex: auto;
        }

        .card__title-block {
            flex-direction: column;
        }

        .card__title {
            font-size: var(--title-card-font-size);
        }

        .card__date {
            color: var(--main-text-low-color);
        }

        .card__main-text {
            margin-block: auto;
            @include clamp(10, 1.2);
        }
    }

    &_type_people {
        @extend .corner-rounded_size_lg;

        .card__image {
            aspect-ratio: 340/430;
        }
        .card__title {
            font-weight: inherit;
            font-size: var(--title-card-font-size);
        }
        .card__text {
            color: var(--main-text-low-color);
        }
    }

    &_orientation_horizontal {
        // @include media(xs) {
        flex-direction: row;
        .card__image {
            flex: 0 0 7em;
        }
        // }
    }
}
