.footer {
    &__wrap {
        padding-block: clamp(1.5rem, -0.1304rem + 2.6087vw, 3rem);
    }

    &__logo-link {
        flex: none;
        inline-size: clamp(16.9375rem, 11.8424rem + 8.1522vw, 21.625rem);
        block-size: clamp(4rem, 2.6413rem + 2.1739vw, 5.25rem);
        margin-block-end: var(--indent-block-medium);
    }

    &__columns {
        display: flex;
        align-items: flex-start;
        gap: var(--indent-block-large);
        padding-block-end: 1.25em;
        margin-block-end: 1.25em;
        border-block-end: 2px solid var(--grey-100-color);
    }

    &__menu {
        @include media(md, max) {
            display: none;
        }
    }

    &__menu-list {
        flex-wrap: wrap;
    }

    &__address {
        flex: 1 0 min(40vw, 25em);
        font-style: normal;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    &__link {
        text-decoration: unset;
        display: flex;
        align-items: center;
        gap: 0.5em;
        transition: 0.25s ease-in;

        &:hover {
            color: var(--accent-color);
        }

        &_type_phone {
            white-space: nowrap;
            display: grid;
            grid-template-columns: auto 1fr;

            .footer__link-text {
                font-size: clamp(1.5rem, 1.0924rem + 0.6522vw, 1.875rem);
                font-weight: 600;
            }

            .footer__text-small {
                grid-column: 2/3;
            }
        }
    }

    &__link-icon {
        display: inline-block;
        inline-size: 1.5em;
        block-size: 1.5em;
    }

    &__social-group {
        margin-block-start: 0.875em;
    }

    // &__link-text {}

    &__text-highlight {
        font-weight: 600;
    }

    &__color-main {
        color: var(--main-color);
    }

    &__text-small {
        font-size: 0.875em;
        color: var(--main-text-low-color);
    }

    &__login-link {
        align-self: flex-start;
    }

    &__copyright {
        color: var(--main-text-low-color);

        p {
            margin-block: 1.25rem;
            font-size: var(--text-medium-font-size);
        }
    }
}
