.lead {
    background: var(--main-color) linear-gradient(90deg, var(--main-gradient-color)) no-repeat center / cover;
    color: rgb(255 255 255 / 0.9);

    &__columns {
        display: grid;
        gap: var(--indent-4);
        grid-template-columns: 1.1fr 1fr;

        @include media(lg, max) {
            grid-template-columns: 1fr;
        }
    }

    // &__column {}

    &__subtitle {
        margin: 0;
        font-size: clamp(0.875rem, 0.6rem + 1.375vw, 2.25rem);
    }

    &__title {
        margin: 0;
        color: #fff;
        font-size: clamp(2.5rem, 1.6728rem + 3.6765vw, 5.625rem);
        display: block;
        font-family: var(--heading-font-family);
        font-weight: normal;
    }

    &__main-text {
        margin-block-end: clamp(1.5em, 5vw, 4em);
        font-size: clamp(0.875rem, 0.6033rem + 0.4348vw, 1.125rem);

        p {
            margin-block: 1em;
        }
    }
}
