.section {
    &__wrap {
        margin-inline: auto;
        inline-size: var(--inline-size-small);
        padding-inline: var(--inline-indent);

        &_size_large {
            inline-size: var(--inline-size-medium);
        }
    }

    &__card {
        border-radius: 1.5em;
        margin-inline: auto;
        inline-size: min(107.5em, 100%); // 1720
        padding-inline: var(--inline-indent-medium); // 48 - 150

        @include media(lg, max) {
            border-radius: 0;
        }
    }

    &__title-block {
        display: grid;
        gap: clamp(1rem, 0.0489rem + 1.5217vw, 1.875rem);
        margin-block-end: clamp(1.5rem, 0.413rem + 1.7391vw, 2.5rem);
        grid-template-columns: 1fr auto;

        .section__title {
            margin-block: 0;
        }

        .button {
            inline-size: 100%;
            place-self: center start;
            grid-row: 3;
        }

        .section__main-text {
            grid-column: 1/-1;
        }

        &_theme_white {
            color: #fff;
        }

        @include media(sm) {
            .button {
                grid-row: unset;
            }
        }
    }

    &__title {
        margin-block: 0 clamp(1.5rem, 0.413rem + 1.7391vw, 2.5rem);
        font-family: var(--heading-font-family);
        font-size: clamp(1.875rem, 1.2422rem + 2.8125vw, 3rem);
        line-height: 0.9;
        font-weight: normal;

        &_with-decor {
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                inset: -0.3em auto auto -0.3em;
                z-index: -1;
                block-size: clamp(1.625rem, 0.9219rem + 3.125vw, 2.875rem);
                aspect-ratio: 1/1;
                mask: url("../../images/section__title.svg") no-repeat center / contain;
                background: var(--accent-color) linear-gradient(90deg, var(--accent-gradient-color));

                @include media(lg) {
                    inset: -0.3em auto auto -0.6em;
                    block-size: clamp(2.875rem, 1.5163rem + 2.1739vw, 4.125rem);
                }
            }
        }

        @include media(lg) {
            font-size: clamp(3rem, 1.2337rem + 2.8261vw, 4.625rem);
        }
    }

    &__main-text {
        font-size: 1em;

        p {
            margin-block: 0;
        }

        @include media(lg) {
            font-size: 1.25em;
            max-inline-size: 44em;
        }
    }

    &__card-deck {
        @extend %reset-list;
        display: grid;
        gap: clamp(1.25rem, 0.5707rem + 1.087vw, 1.875rem);
        grid-template-columns: repeat(auto-fill, minmax(min(21em, 100%), 1fr));
    }

    &_mobile-indent_small {
        @include media(sm) {
            padding-inline: var(--indent-1);
        }
    }
}
