.section {
    &__wrap {
        margin-inline: auto;
        inline-size: var(--inline-size-large);
        padding-inline: var(--inline-indent-large);

        &_size_large {
            padding-inline: var(--inline-indent-small);
        }
    }

    &__card {
        @extend .corner-rounded_size_lg;
        margin-inline: auto;
        inline-size: var(--inline-size-medium);
        padding-inline: var(--inline-indent-medium);
    }

    &__title-block {
        display: grid;
        gap: var(--indent-3);
        margin-block-end: var(--indent-4);
        grid-template-columns: 1fr auto;

        .section__title {
            margin-block: 0;
        }

        .button {
            place-self: center start;
            grid-row: 3;
        }

        .section__main-text {
            grid-column: 1/-1;
        }

        @include media(sm) {
            .button {
                grid-row: unset;
            }
        }
    }

    &__title {
        margin-block: 0 var(--indent-4);
        font-family: var(--heading-font-family);
        font-size: clamp(1.875rem, 7.4vw, 4.625rem);
        font-weight: normal;

        &_with-decor {
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                inset: -0.25em auto auto -0.25em;
                z-index: -1;
                block-size: clamp(1.5rem, 7.2vw, 4.5rem);
                aspect-ratio: 1/1;
                mask: url("../../images/section__title.svg") no-repeat center / contain;
                background: var(--accent-color) linear-gradient(90deg, var(--accent-gradient-color));

                @include media(sm) {
                    inset: -0.125em auto auto -0.625em;
                }
            }
        }
    }

    &__main-text {
        font-size: clamp(1em, 2vw, 1.25em);
        max-inline-size: 44em;
        p {
            margin-block: 0;
        }
    }

    &__card-deck {
        @extend %reset-list;
        display: grid;
        gap: var(--indent-3);
        grid-template-columns: repeat(auto-fill, minmax(min(22em, 100%), 1fr));
    }

    &_mobile-indent_small {
        @include media(sm) {
            padding-inline: var(--indent-1);
        }
    }
}
