.section {
    padding: var(--indent-block-section) var(--indent-small);
    margin-inline: auto;

    &__wrap {
        margin-inline: auto;
        inline-size: var(--main-inline-size);
    }

    &__title {
        margin-block: 0 0.5em;
        font-family: var(--heading-font-family);
        font-size: clamp(1.875rem, 7.4vw, 4.625rem);
        font-weight: normal;

        &_with-decor {
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                inset: -10% auto auto -3%;
                z-index: -1;
                block-size: min(4.5rem, 15vw);
                aspect-ratio: 1/1;
                mask: url("../../images/section__title.svg") no-repeat center / contain;
                background: var(--accent-color) linear-gradient(90deg, var(--accent-gradient-color));
            }
        }
    }

    &__card-deck {
        @extend %reset-list;
        display: grid;
        gap: var(--indent-medium);
        grid-template-columns: repeat(auto-fill, minmax(min(22em, 100%), 1fr));
    }

    &_bg_main-light {
        background-color: var(--main-light-color);
    }

    &_size_wide {
        inline-size: var(--wide-inline-size);
    }
}
