.wave-decor {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0 0 auto 0;
        inline-size: 100%;
        block-size: clamp(1.25em, 4vw, 2.5em);
        background: url("../../images/curve.svg") repeat-x bottom center / auto 100%;
    }

    &_inset_bottom {
        padding-block-end: var(--indent-wave-decor);
        &::before {
            inset: auto 0 0 0;
        }
    }
}
